.movie .poster_path {
  height: 333px; }

.movie h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.movie .overview {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px; }

body {
  background-color: deepskyblue; }
