.movie .poster_path {
  height: 333px; }

.movie h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.movie .overview {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px; }

.movie .thumbnail {
  position: relative; }
  .movie .thumbnail .delete {
    position: absolute;
    right: 15px;
    top: 15px; }
  .movie .thumbnail .detail {
    position: absolute;
    left: 15px;
    top: 15px; }

body {
  background-color: deepskyblue; }
